* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.aman p{
    text-align: center;
    padding-top: 40px;
}
.aman h2{
    text-align: center;
    padding-bottom: 40px;
}


.navbar-nav .nav-item .nav-link {
    margin: 20px;
    margin-left: 100px;
    color: black;


}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(252, 0, 71);

    border: 1px solid rgba(236, 139, 139, 0.18);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 30px rgba(236, 139, 139, 0.18);
}

.container-fluid {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(95, 111, 250, 0.18);
    border: 2px solid rgba(236, 139, 139, 0.18);
    /* background-color: antiquewhite; */
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.navbar-brand img {
    border-radius: 20px 20px 20px 20px;
    /* box-shadow: 2px 0px 8px; */
}

.front {
    position: relative;
    overflow: hidden;
    /* background: url(https://static.vecteezy.com/system/resources/thumbnails/021/693/956/small/pastel-mesh-gradient-background-abstract-blurred-wallpaper-texture-png.png) #fff; */
    padding-top: 50px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.item img{
border-bottom-left-radius: 40px;
    width: 1000px;
    height: 400px;
    /* margin-left: 80px; */
    box-shadow: 2px 0px 8px;
}
.this{
    margin-top: 30px;
    font-weight: 400;
 
    line-height: 1.8;
   
}

.button {
    background-color: lightseagreen;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    box-shadow: 0 0 4px;
   
}

.button:hover {
    color: #030303;
    background-color: yellow;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 9px;
}
.header-heading p{
  padding-bottom: 50px;
}
.carddd{
    display: flex;
    justify-content: space-between;
}
.fa-regular{
  
    margin-left: 30px;
}
.newww p{
padding-top: 20px;
}
.newww h2{
    padding-bottom: 20px;
}
.new-part{
    display: flex;
    justify-content: space-between;
}
.full{
    background-color: #fff;
}
  
.feature-image img{
    width: 700px;
    height: 470px;
    
    border-bottom-left-radius: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
    box-shadow: 2px 0px 8px;
}
.cardee img{
    box-shadow: 2px 0px 8px;
    
}

.box{
    border: #030303;
}


@media only screen and (max-width: 333px) {
    .FLex-slide  {
   display: block;
    }
}
@media only screen and (max-width:992px){
    .carddd{
        flex-wrap: wrap;
    }
}
.col-lg-5 h2{
margin-top: 50px;
}
.list-features li{
    padding-top: 10px;
    padding-bottom: 30px;
    list-style: none;
}
/* formm */
.form-block {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e8e8ef;
}

.form-block form {
    padding: 0 20px 30px 20px;
}

.form-block input:focus,
.form-block textarea:focus {
    border: 1px solid #f85359;
}

.form-block input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    color: #172b43;
    font-size: 16px;
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e6e6e6;
}

.form-block textarea {
    max-height: 200px;
    width: 100%;
    padding: 15px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    color: #172b43;
    font-size: 16px;
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e6e6e6;
}



.form-block label input {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
}



.form-header {
    text-align: center;
    border-bottom: 3px solid #f85359;
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;
    background-color: #fff5f5;
}

.form-header h2 span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: #0a2233;
}

.form-header p {
    text-align: center;
}

.form-block p.trm {
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}

.form-block p.trm i {
    padding: 5px 5px 0 0;
}

.form-block button:hover {
    color: #030303;
    background-color: rgb(255, 255, 113);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 9px;
}

.form-block button {
    font-size: 16px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 0 40px;
    line-height: 60px;
    text-align: center;
    outline: 0;
    color: #fff !important;
    background-color: #1cf2a4;
    border: none;
    border-radius: 6px;
    width: 100%;
  
}
.pad-tb{
    padding-bottom: 50px;
    margin-top: 30px;
    background-color: #e8e8ef;
    margin-bottom: 20px;
}
.card-header img{
    height: 70px;
    width: 200px;
    background-color: #0a2233;
}
.khushi{
background-color: #172b43;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider{
    justify-content: space-between;
  }
.carde img{
    width: 60px;
    padding: 2px 2px 2px 2px;
    background: rgb(145,0,64);

  
}
.carde{
    background: rgb(145,0,64);
background: linear-gradient(90deg, rgba(145,0,64,0.9754026610644257) 0%, rgba(43,6,27,0.9698004201680672) 100%);
}
.carde:hover{
  transform: scale(0.9);
  color: #fff;

}
.card img{
    padding: 8px 8px 8px 8px;
                                                                                                         
}
.card:hover{
    transform: scale(0.8);
}
.card{
    margin-left: 50px;
    transition: 0.5s linear;
}
.cardee{
    border-radius: 200px;
}
.newww p{
    margin-left: 55px;
}
.newww h2{
margin-left: 55px;
}
